# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# VSCode settings
.vscode/

# Mac OS system files
.DS_Store

# Python package installer logs
pip-log.txt
pip-delete-this-directory.txt

# Streamlit cache and config
.streamlit/

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
